.header {
  width:100%;
}

.c-header {
  margin-bottom: 2em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 90%
  );

  backdrop-filter: blur(1px);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &__logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;

    img {
      height: 3rem;
      object-fit: contain;
      stroke: $main;
      &:hover{
        stroke: $tertiary;
        filter: brightness(1.2);
      }
    }
  }

  &__name {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0.5em;

    margin: 0;
    color: $main;
    text-decoration: none;
    font-family: "Cardo";
    font-weight: 700;
  }

  &__nav {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;

    &__item {
      margin: 0 0.5em;
      color: $main;
      font-family: "Cardo";
      font-weight: 700;
      text-decoration: none;
      font-size: 20px;
    }
  }
}

.c-main,
.c-footer {
  width: 100%;
  display: block;
}

.c-footer {
  margin: 10rem 0 0 0;
  background-color: #333;
  color: white;
  text-align: center;

  &--row {
    //display: flex;
    //justify-content: space-between;
    height: 2em;

    $base-height: 10em;
    $d: 49;
    $h: 0.015em;

    @for $i from 1 through $d {
      &:nth-of-type(odd) {
        background-color: $main;
        &:nth-of-type(#{$i}) {
          //height: $base-height / pow(29 - $i, 1.2)
          //height: $base-height / pow(i, 1.2)
          height: $i * $h;
        }
      }
      &:nth-of-type(even) {
        background-color: $background;
        &:nth-of-type(#{$i}) {
          height: ($d - $i) * $h;
        }
      }
    }

    &__w {
      background-color: $main;
      height: 10em;
      color: $background;
      font-family: "Cardo";
    }
  }
  &--copyright {
    color: $background;
    font-family: "Cardo";

    &::before {
      content: "©";
      font-size: 1.6em;
      position: relative;
      top: 0.1em;
    }
  }

  &--logo {
    img {
      width: 2rem;
      // stroke: $main;
      &:hover {
       stroke: $tertiary;
       filter: brightness(1.2);
      }
    }
  }
}
