.c-reference {
  position: relative;
  display: inline-block;
  // shift up to align with text
  top: -0.5em;
  // make this not interact with other elements on the page

  &--target {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -0.6em;
    left: -0.6em;
  }

  &--arrow {
    // arrow pointing to the northeast
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $secondary;
    rotate: 45deg;
    color: #440000;

    // entirety of the div is clickable (not just the arrow) to show the description
  }

  &__description {
    width: 200px;
    max-height: 100px;
    //scrollbar
    overflow-y: auto;
    background-color: #440000;
    padding: 1em;

    font-size: 0.8em;
    color: $secondary;

    // on top of page, above the reference
    position: absolute;

    // do not cause horizontal scroll, just go off the page

    bottom: 28px;
    left: 25px;

    // do notinteract with other elements on the page, just sit on top
    z-index: 1;

    // fade in
    opacity: 0;
    transition: opacity 0.5s;
  }
}
