// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

$background: #111;
$background-secondary: #222;
$main: orange;
$secondary: #ccc;
$tertiary: #fff;

$pill-info: #4fb0ff;
$pill-success: #4caf50;
$pill-warning: #ff9800;
$pill-danger: #f44336;

.root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  //min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.2;
  text-align: right;
}

.blog-title {
  // small caps
  font-variant: small-caps;
  color: cornflowerblue;
}

a {
  color: $main;
  font-style: italic;

  // dashed underline default
  // background-image:
  text-decoration: underline;

  //text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// links that start with # are not underlined
a[href^="#"] {
  border-width: 1px;
  border-style: dotted;
  border-right: 0em;
  border-top: 0em;
  border-color: $main;
  padding: 0em 0.2em 0em 0.3em;
  // no underline
  text-decoration: none;
}

body {
  font-family: "serif";
  font-size: 18px;
  line-height: 1.5;
  color: $main;
  background-color: $background;
  overflow-x: hidden;
}

@import "headerfooter";
@import "containers";
@import "button";
@import "pill";
@import "callout";
@import "inlinecode";
@import "reference";
