<article>
  <section>
    <div class="container container--scientific">
      <h1 class="blog-title">404 Not Found</h1>

      <div class="section-block section-block--description">
        <p class="blog-description">
          The page you are looking for does not exist.
        </p>

        <p class="blog-description">You can try the following:</p>
        <p>
          <a href="/" class="blog-description">Return to the home page</a>
        </p>

        <p class="blog-description">
          <a href="javascript:history.back()" class="blog-description"
            >Go back from where you came.
          </a>
        </p>
      </div>
    </div>
  </section>
</article>
