<article>
  <section>
    <div class="container container--scientific">
      <h1 class="blog-title">Archives</h1>

      <div class="section-block section-block--description">
        <p class="blog-description">
          The chronological archive of all my posts on this website; Everything
          written in order of publication date; The most recent posts are at the
          top of the list.
        </p>
      </div>

      Here you can find all my previous posts:
      $partial("templates/post-list.html")$
    </div>
  </section>
</article>
