<!-- logo in centre-->
<footer class="c-footer">
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>

  <div class="c-footer--row__w">
    <div class="c-footer--content">
      <div class="c-footer--logo">
        <a href="/">
          <img src="images/logo.svg" alt="William Matthews" />
        </a>
      </div>

      <div class="c-footer--links">

        <!--
          TODO: Add links to the following:


        RSS:
        https://willmatthews.xyz/index.xml

        Atom:
        https://willmatthews.xyz/atom.xml

        About:
        https://willmatthews.xyz/me

        Contact:
        https://willmatthews.xyz/me#contact

        google scholar:
        https://scholar.google.com/citations?user=7HfJ0lIAAAAJ

        orcid:
        https://orcid.org/0000-0002-2388-4369

        github:
        https://github.com/WillMatthews

        linkedin:
        https://linkedin.com/in/williamamatthews

        youtube:
        https://www.youtube.com/channel/to-be-confirmed

        Optical Wireless Simulation:
        https://vlc.willmatthews.xyz

        books:
        https://books.willmatthews.xyz

        files:
        https://files.willmatthews.xyz
        -->

      </div>




      William Matthews <span class="c-footer--copyright"></span>
      2016-2024
    </div>
  </div>
</footer>
