<!-- logo in centre-->
<footer class="c-footer">
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>
  <div class="c-footer--row"></div>

  <div class="c-footer--row__w">
    <div class="c-footer--content">
      William Matthews <span class="c-footer--copyright"></span>
      2016-2024
    </div>
  </div>
</footer>
