<section class="header">
  <div class="c-header">
    <div class="c-header__logo">
      <a href="/">
        <img
          src="/images/logo.svg"
          alt="Logo of the William Matthews website"
        />
      </a>
    </div>

    <nav class="c-header__nav">
      <div class="c-header__nav__item">
        <a href="/">Home</a>
      </div>
      <div class="c-header__nav__item">
        <a href="/about.html">Site</a>
      </div>
      <div class="c-header__nav__item">
        <a href="/me.html">Me</a>
      </div>
      <div class="c-header__nav__item">
        <a href="/vitae.html">Vitæ</a>
      </div>
      <div class="c-header__nav__item">
        <a href="/archive.html">Archive</a>
      </div>
    </nav>
  </div>
</section>
